@model ArticleIndexVM
@{
    ViewData["Title"] = "Read Article";
}
<div class="container my-5">
    <h2 class="text-center">@Model.Title</h2>
    <p class="text-muted">Written by <a href="/UsersArticle/@Model.UserId">@Model.Writer</a></p>
    <p class="text-muted">Published on @Model.CreatedTime</p>
    <p class="text-muted">Average Reading Time: @Model.AvgReadingTime minutes</p>
    <hr>
    <p>@Model.Content</p>
</div>